################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Safe-Power-Monitor/v15/.suo
/Safe-Power-Monitor.pyproj
/Safe-Power-Monitor.sln
